/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/themes/lara-dark-teal/theme.css";

/* Light Theme */
:root {
  --primary-color: #8a7ad2 !important;
  --navlink-color:#8a7ad2 ;
  --secondary-color: #fff;
  --background-color: white;
  --background-image: url("assets/images/watercolor-background-blue.jpg");
  --background-image-condition: url("assets/images/white-background.jpg");
  --album-card-background: #f4f4f4;
  --album-title: #2596be;
  --navbar-background-color:#b7c9d7;
  --album-label: grey;
  --album-text-color:black;
  --text-shadow: 2px 2px 4px rgba(154, 146, 146, 0.5);
  --review-tile-background-color:#f7f7f7;
  --social-icon-purple: #8a7ad2;
  --social-icon-pink: #d07890;
  --star : grey;

}

body.dark-theme {
  --background-color: black;
  --background-image: url("assets/images/black-ink.jpg");
  --background-image-condition: url("assets/images/black-ink.jpg");
  --album-card-background:grey;
  --album-title: #bdb4e9 ;
  --navbar-background-color:grey;
  --navlink-color:#d5d1e7 ;
  --album-label: #bdb4e9;
  --album-text-color:#d5d1e7;
  --text-shadow: 2px 2px 4px rgb(246, 243, 243);
  --review-tile-background-color:grey;
  --social-icon-purple: #bcb5da;
  --social-icon-pink: #cfabb4; 
   --star : white;
 
}

.centered-dialog {
 position{
  top: '50%';
 left: '50%';
 transform: 'translate(-50%, -50%)'}
}

.centered-dialog .mat-dialog-container {
  margin: 0 auto;
  max-width: 80%;
}